<div class="card">
    <img src="https://file1.telestar.fr/var/telestar/storage/images/2015/articles/incroyable-mais-vrai-!-une-fillette-echappe-a-la-mort-grace-a-un-minion-151390/1076638-1-fre-FR/Incroyable-mais-vrai-!-Une-fillette-echappe-a-la-mort-grace-a-un-Minion_width1024.jpg" alt="">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aut! Non eius, doloribus nisi maiores quo quod molestias dicta odio assumenda necessitatibus qui labore optio numquam natus accusamus vero corporis!</p>
    <div>
        <button>Boton 1</button>
        <button>Boton 2</button>
    </div>
</div>
